*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	margin: auto;
	width: 100%;
	height: auto;	
}

.row{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;	
}

.col-12{
	width: 100%;
	background-color: black;

}